<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yet Another Report Generator">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">

    <title>{% block title %}
        {% if title %}Scales: {{ title }}{% else %}Welcome to Scales!{% endif %}
        {% endblock %}</title>

    {% block scripts %}
    {% endblock %}
</head>


<body>
    {% if request.endpoint != "about" %}
    {% include "navbar.html" %}
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="w-64 mx-auto text-gray-800 m-3 px-3 py-2 rounded bg-blue-200 shadow text-center" role="alert">{{ message
        }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}
</body>

</html>