<div id="footer" class="text-center text-gray-400">
    <hr class="py-2">
    <p><i class="far fa-copyright"></i> E. Hazledine 2021</p>
    <p class="p-2">
        <a class="hover:text-blue-800 p-1" href="https://github.com/edhaz" target="_blank">
            <i class="fab fa-github fa-2x" title="Github"></i>
        </a>
        <a class="hover:text-blue-800 p-1" href="https://twitter.com/ed_the_coder" target="_blank">
            <i class="fab fa-twitter fa-2x" title="Twitter"></i>
        </a>
    </p>
</div>