{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container flex flex-col justify-between w-screen max-w-screen-lg my-10 px-10 mx-auto sm:flex-row">
    <div class="flex-initial m-auto">
        <img class="w-32" src="./static/scales.png" alt="Scales logo">
    </div>
    <div class="text-center my-4">
        <ul class="bg-blue-100 mx-10 py-2 rounded-xl shadow-md">
            <li class="px-6 py-2">Select the instrument and grade you are working on and press 'Start'.</li>
            <li class="px-6 py-2 bg-blue-200">You'll be shown a random list of the scales required one at a time.
            </li>
            <li class="px-6 py-2">Practice your scale <br> (we recommend 5 times correctly in a row)!</li>
            <li class="px-6 py-2 bg-blue-200">Once you're done press 'Next Scale'.</li>
            <li class="px-6 py-2">Repeat until you've completed them all for today.</li>
        </ul>
    </div>
    <div class="flex-initial m-auto bg-blue-100 rounded-xl shadow-md">
        <form action="/redirecter" method="post" class="p-4">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="flex flex-col text-center">
                <p class="text-lg px-4 font-bold">1. Select your instrument:</p>
                <select name="instrument" class="bg-gray-100 rounded p-2 my-2 shadow">
                    <option value="violin">Violin</option>
                    <option value="piano">Piano</option>
                </select>
                <p class="text-lg p-4 font-bold">2. Select your grade:</p>
                <div class="" data-toggle="buttons">
                    {% for grade in grades %}
                    <label class="p-2 text-lg checked:text-blue-500">
                        <input type="radio" name="grade" id="option{{ grade }}" autocomplete="" value="{{ grade }}">
                        {{ grade }}
                    </label>
                    {% endfor %}
                </div>
                <button
                    class="mt-4 mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">3. Start!</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}