{% extends "layout.html" %}

{% block title %}Scales|Practice{% endblock %}

{% block body %}
<script>const scales = {{ scales|tojson }};</script>
<div class="container-fluid text-center bg-white">
    <h3><u>Grade {{ grade }} - {{ instrument }}</u></h3>
    <p>Make sure you practice each scale at least 5 times in a row without a mistake!<br>Then click 'Next Scale'.</p>
    <br>
    <div class="container-fluid" style="max-width: 600px">
        <h3 class="js-current-scale">{{ scale }}</h3>
    </div>
    <br>
    <form action="/practice" method="post">
        <button class="btn btn-primary js-scale-submit" type="submit">Next Scale</button>
    </form>
    <br>
    <a href="/" title="Home"><button class="btn btn-danger" type="submit">Home</button></a>
</div>
{% endblock %}

{%  block customScripts %}
<script src="/static/scales.js"></script>
{%  endblock %}
