{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block app_content %}
<div class="container-fluid text-center bg-white">
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <img class="" src="static/scales.png" alt="Scales logo" style="max-width: 100px">
            <h2>Scales</h2>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid" style="max-width: 350px">
                <p>An app to help you when practicing scales.</p>
                <ul class="list-group">
                    <li class="list-group-item">Select your Instrument and the Grade you are working on.</li>
                    <li class="list-group-item">You will be shown a random list of the scales required one at a time.</li>
                    <li class="list-group-item">Then all you do is hit 'Next Scale' once you have practiced the one being shown.</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <form action="/redirecter" method="post">
                <p>Select your Instrument:</p>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-info active">
                        <input type="radio" name="instrument" id="option1" autocomplete="off" value="violin" checked> Violin<br>
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="instrument" id="option2" autocomplete="off" value="piano"> Piano<br>
                    </label>
                </div>
                <p>Select your Grade:</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    {% for grade in grades %}
                    <label class="btn btn-info">
                        <input type="radio" name="grade" id="option{{ grade }}" autocomplete="" value="{{ grade }}">   {{ grade }}
                    </label>
                    {% endfor %}
                </div>
                <br>
                <br>
                <div class="container-fluid">
                    <button class="btn btn-submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
